.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.layout__main {
  flex: 1;
  padding-top: var(--header-height);
}

@media (max-width: 767px) {
  .layout__main {
    padding-top: var(--header-height-sm);
  }
}